<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="/assets/logo.svg">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-right" role="search">
        <button type="submit" class="btn btn-info">SIGN IN</button>
      </form>

      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FIND A TRIAL <span class="caret"></span></a>
          <div class="dropdown-menu" style="padding:40px;">
            <form class="form" id="formLogin">
              <div class="col-md-2">

              </div>
              <div class="col-md-8">
                <div class="col-md-3">
                  <input name="zip_code" id="zip_code" type="text" placeholder="Zip Code" class="form-control">
                </div>
                <div class="col-md-3">
                  <select class="form-control">

                  </select>
                </div>
                <div class="col-md-4">
                  <select class="form-control">

                  </select>
                </div>
                <div class="col-md-2">
                  <button type="button" id="btnLogin" class="btn btn-info" style="background: #42bfb1;border-color:#42bfb1;">SEARCH</button>
                </div>
              </div>
              <div class="col-md-2"></div>
            </form>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>